<div class="orders">
    <h2>Orders</h2>
    <nav class="orders-nav">
        <ul class="orders-filters">
            <li class="active">all (128)</li>
            <li>confirmed (40)</li>
            <li>pending (78)</li>
            <li>canceled (28)</li>
        </ul>
        <div class="orders-btns">
            <button class="filter-date"><span>📅</span>this month 🔽</button>
        </div>
    </nav>
    <div class="orders-box">
        <table class="orders-table">
            <thead>
                <tr>
                    <th>order Id</th>
                    <th>data</th>
                    <th>time</th>
                    <th>customer</th>
                    <th>location</th>
                    <th>amount</th>
                    <th>order status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#4886541656</td>
                    <td>20 may 2028</td>
                    <td>20:45</td>
                    <td>Ahmed kh.</td>
                    <td>Cairo,helwan 45 oraby st.</td>
                    <td>$1451</td>
                    <td><span class="pending">pending</span></td>
                </tr>
                <tr>
                    <td>#4886541656</td>
                    <td>20 may 2028</td>
                    <td>20:45</td>
                    <td>Ahmed kh.</td>
                    <td>Cairo,helwan 45 oraby st.</td>
                    <td>$1451</td>
                    <td><span class="confirmed">confirmed</span></td>
                </tr>
                <tr>
                    <td>#4886541656</td>
                    <td>20 may 2028</td>
                    <td>20:45</td>
                    <td>Ahmed kh.</td>
                    <td>Cairo,helwan 45 oraby st.</td>
                    <td>$1451</td>
                    <td><span class="pending">pending</span></td>
                </tr>
                <tr>
                    <td>#4886541656</td>
                    <td>20 may 2028</td>
                    <td>20:45</td>
                    <td>Ahmed kh.</td>
                    <td>Cairo,helwan 45 oraby st.</td>
                    <td>$1451</td>
                    <td><span class="pending">pending</span></td>
                </tr>
                <tr>
                    <td>#4886541656</td>
                    <td>20 may 2028</td>
                    <td>20:45</td>
                    <td>Ahmed kh.</td>
                    <td>Cairo,helwan 45 oraby st.</td>
                    <td>$1451</td>
                    <td><span class="confirmed">confirmed</span></td>
                </tr>
                <tr>
                    <td>#4886541656</td>
                    <td>20 may 2028</td>
                    <td>20:45</td>
                    <td>Ahmed kh.</td>
                    <td>Cairo,helwan 45 oraby st.</td>
                    <td>$1451</td>
                    <td><span class="pending">pending</span></td>
                </tr>
                <tr>
                    <td>#4886541656</td>
                    <td>20 may 2028</td>
                    <td>20:45</td>
                    <td>Ahmed kh.</td>
                    <td>Cairo,helwan 45 oraby st.</td>
                    <td>$1451</td>
                    <td><span class="cancelled">cancelled</span></td>
                </tr>
                <tr>
                    <td>#4886541656</td>
                    <td>20 may 2028</td>
                    <td>20:45</td>
                    <td>Ahmed kh.</td>
                    <td>Cairo,helwan 45 oraby st.</td>
                    <td>$1451</td>
                    <td><span class="cancelled">cancelled</span></td>
                </tr>
                <tr>
                    <td>#4886541656</td>
                    <td>20 may 2028</td>
                    <td>20:45</td>
                    <td>Ahmed kh.</td>
                    <td>Cairo,helwan 45 oraby st.</td>
                    <td>$1451</td>
                    <td><span class="pending">pending</span></td>
                </tr>
                <tr>
                    <td>#4886541656</td>
                    <td>20 may 2028</td>
                    <td>20:45</td>
                    <td>Ahmed kh.</td>
                    <td>Cairo,helwan 45 oraby st.</td>
                    <td>$1451</td>
                    <td><span class="pending">pending</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="orders-pagination">
        <p>Shown 10 of 124</p>
        <div class="pagination">
            <button>Previous</button>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <button>Next</button>
        </div>
    </div>
</div>